:root {
  --BackgroundPrimary: #f8f9fa;
  --BackgroundSecondary: #fff;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--BackgroundPrimary);
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section-header {
  text-align: center;
}

.section-game {
  display: flex;
  justify-content: center;
}

.section-game .grid {
  padding: 5px;
  display: grid;
  border-radius: 5px;
  background-color: var(--BackgroundSecondary);
  grid-template-columns: repeat(4, 1fr);
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.1);
}

.section-game .grid img {
  padding: 5px;
  border-radius: 10px;
}

.article-modal {
  position: absolute;
  top: 5%;
  right: -30%;
  display: inline-flex;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: var(--BackgroundSecondary);
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.1);
}

.animation {
  animation-name: cssAnimation;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

@keyframes cssAnimation {
  0% {
    right: -30%;
  }
  30% {
    right: 3%;
  }
  70% {
    right: 3%;
  }
  100% {
    right: -30%;
  }
}
