.game-navbar {
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.03);
  background-color: #fff;
}

.game-navbar section {
  justify-content: space-between;
  align-items: center;
  max-width: 1324px;
  margin: 0px auto;
  display: flex;
  width: auto;
}

.game-navbar section div:first-of-type {
  display: flex;
  align-items: center;
}

.game-navbar section div:first-of-type img {
  height: 60px;
}

.game-navbar section div:first-of-type span {
  font-size: 18px;
  width: 200px;
}

.game-navbar section div:last-of-type a {
  text-decoration: none;
}

.game-navbar section div:last-of-type i {
  transition: all 0.3s ease 0s;
  color: #607d8b;
  cursor: pointer;
  font-size: 20px;
  margin: 0 2px;
}

.game-navbar section div:last-of-type i:hover {
  color: #00ffff;
}
